/*/*/*.ui
/*/*/*.uo
/Public/entrega3/Makefile.bak
/Public/entrega3/Makefile_e1
/Public/entrega3/codetests/
/Public/entrega3/good/
/Public/entrega3/holatiger.tig
/Public/entrega3/mistests/
/Public/entrega3/tiger
/Public/entrega3/tigergrm.output
/Public/entrega3/tigergrm.sig
/Public/entrega3/tigergrm.sml
/Public/entrega3/tigerlex.sml
/mos201src.tar.gz

